<div class="pt-2 color-bg-tertiary">
    <div class="d-flex flex-column flex-lg-row flex-items-center col-12 col-lg-10 mx-auto">
      <div class="col-2 d-flex flex-items-center flex-lg-items-start gradient-border mr-2">
        <img class="width-full avatar mb-md-0" style="z-index: 1;" src="/assets/images/avatar.png" alt="github" />
      </div>
      <div class="col-12 col-lg-8 d-flex flex-column flex-justify-center flex-self-stretch">
        <div class="col-12 d-flex flex-column flex-items-center flex-lg-items-start">
          <h1 class="text-normal lh-condensed">GitHub</h1>
        </div>
        <div class="col-12 d-flex flex-column flex-lg-row">
          <div class="col-12 d-flex flex-column flex-items-center flex-lg-items-start">
            <p class="h4 text-gray text-normal mb-2">How people build software.</p>
            <a class="text-gray text-small" href="#url">https://github.com/about</a>
          </div>
          <div class="col-12 d-flex flex-column flex-items-center flex-lg-items-start">
            <p class="h4 text-gray text-normal mb-2">How people build software.</p>
            <a class="text-gray text-small" href="#url">https://github.com/about</a>
          </div>
        </div>
        <div class="col-12 d-flex flex-column flex-items-center flex-lg-items-start">
          <p class="h4 text-gray text-normal mb-2">How people build software.</p>
          <a class="text-gray text-small" href="#url">https://github.com/about</a>
        </div>
      </div>
    </div>
  </div>
  
<div class="color-bg-tertiary rounded-bottom-3">
    &nbsp;
</div>